.projects {
  padding-left: 50px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  grid-gap: 2rem 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 370px;
  color: var(--second);
}

.project-low {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

.project-petsfinder {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

.project-idealHouse {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}

.project-interior-design {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}

.project-tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #F8F6F1;
  display: flex;
  justify-content: space-between;
}

.project-tech p {
  font-size: 0.8em;
  font-weight: 500;
}

.project-links {
  padding: 1rem;
  background-color: #F8F6F1;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.project-links a {
  display: flex;
  align-items: center;
}

.project-links span {
  font-size: 1em;
  font-weight: 600;
  color: var(--second);
  padding: 0 0.5rem;
  border-bottom: 1px solid transparent;
}

.project-links a:hover span {
  border-bottom: 1px solid var(--second);
}

.project-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-img-low {
  background-image: url('./../../image/low-project.png');
}

.project-img-petsfinder {
  background-image: url('./../../image/pet-project.png');
}

.project-img-idealHouse {
  background-image: url('./../../image/IdealHouse-project.png');
}

.project-img-interior-design {
  background-image: url('./../../image/interior-design-project.png');
}

.project-links .www {
  width: 24px;
}

.project-links .link {
  width: 15px;
}

@media screen and (max-width: 1280px) {
  .projects {
    padding-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .project {
    height: 300px;
  }
  .project-tech p:last-child {
    display: none;
  }
}

@media screen and (max-width: 826px) {
  .projects {
    grid-template-columns: minmax(300px, 600px);
    grid-gap: 2rem 1rem;
    justify-content: center;
  }

  .project-low {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }

  .project-petsfinder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
  }

  .project-idealHouse {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
  }

  .project-interior-design {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
  }

  .project {
    height: 400px;
  }
}
@media screen and (max-width: 541px) {
  .project {
    height: 300px;
  }
}