.title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 85px;
  left: 100px;
}

.title-wrap h3 {
  writing-mode: sideways-lr;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #EAF2F4;
}
@media screen and ( min-height: 700px ) {
  .title-wrap h3 {
    font-size: 5em;
  }
}

@media screen and (max-width: 1280px) {
  .title-wrap h3 {
    font-size: 4.3em;
  }
}

@media screen and (max-width: 1080px) {
  .title-wrap {
    position: unset;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .title-wrap h3 {
    margin-top: 50px;
    writing-mode: horizontal-tb;
    font-size: 4em;
  }
}

@media screen and (max-width: 812px) {

  .title-wrap h3 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 512px) {

  .title-wrap h3 {
    font-size: 2em;
  }
}