.container {
  max-width: 1440px;
  padding: 100px;
  margin: 0 auto;
  padding-left: 180px;
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 100px;
  }
}

@media screen and (max-width: 826px) {
  .container {
    padding: 50px 50px 80px;
  }
}

@media screen and (max-width: 526px) {
  .container {
    padding: 25px 25px 80px;
  }
}